.title {
    color: black;
    text-align: center;
    text-shadow: 0 0 0.2rem yellow, 0 0 0.2rem yellow, 0 0 0.2rem yellow, 0 0 0.2rem yellow;
    font-size: 3rem;
 }
 
 .container {
    color: white;
    border: 1px solid white;
    display: flex;
 }
 
 